In [11]:
import pandas as pd

SAVE_DIR = "/export/home/cse200093/Jacques_Bio/data_bio/snomed_loinc_mapping/loinc_snomed_mapping.csv"

In [6]:
# Import ohdsi tables of interest
# Sources :
# - https://athena.ohdsi.org/vocabulary/list
# - https://www.ohdsi.org/wp-content/uploads/2020/10/Polina-Talapova-Talapova-LOINC-SNOMED-crosswalk-full-paper-updated.pdf
# - https://github.com/OHDSI/Vocabulary-v5.0/tree/b01501774d94067574cd7ff18d1c5baae01c7881

concept_relationship_df = pd.read_csv('/export/home/cse200093/Jacques_Bio/data_bio/snomed_loinc_mapping/CONCEPT_RELATIONSHIP.csv', sep="\t")
concept_df = pd.read_csv("/export/home/cse200093/Jacques_Bio/data_bio/snomed_loinc_mapping/CONCEPT.csv", sep="\t")

/export/home/cse200093/.user_conda/miniconda/envs/jacques-py37-spark/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3553: DtypeWarning: Columns (6,9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [7]:
# Show them

print("Concept relationship:")
display(concept_relationship_df)
print("Concept:")
display(concept_df)

Concept relationship:

,concept_id_1,concept_id_2,relationship_id,valid_start_date,valid_end_date,invalid_reason
0,3623315,35631990,Has Module,20220128,20991231,NaN
1,4231727,40642538,Has status,20220128,20991231,NaN
2,4231727,40642539,Has Module,20220128,20991231,NaN
3,3586591,40642538,Has status,20220128,20991231,NaN
4,3586591,35631990,Has Module,20220128,20991231,NaN
...,...,...,...,...,...,...
19170299,46135811,40642538,Has status,20220128,20991231,NaN
19170300,46135811,35631990,Has Module,20220128,20991231,NaN
19170301,4234264,40642537,Has status,20220128,20991231,NaN
19170302,4234264,40642539,Has Module,20220128,20991231,NaN
19170303,3623315,40642538,Has status,20220128,20991231,NaN

Concept:

,concept_id,concept_name,domain_id,vocabulary_id,concept_class_id,standard_concept,concept_code,valid_start_date,valid_end_date,invalid_reason
0,1146945,concept.concept_id,Metadata,CDM,Field,S,CDM1,20141111,20991231,NaN
1,1146954,concept.invalid_reason,Metadata,CDM,Field,S,CDM10,20141111,20991231,NaN
2,1147044,observation_period.observation_period_id,Metadata,CDM,Field,S,CDM100,20141111,20991231,NaN
3,756315,metadata.metadata_type_concept_id,Metadata,CDM,Field,S,CDM1000,20210925,20991231,NaN
4,756316,metadata.name,Metadata,CDM,Field,S,CDM1001,20210925,20991231,NaN
...,...,...,...,...,...,...,...,...,...,...
1527989,32806,"International Classification of Diseases, Tent...",Metadata,Vocabulary,Vocabulary,NaN,OMOP generated,19700101,20991231,NaN
1527990,32957,Common Classification of Medical Acts (ATIH),Metadata,Vocabulary,Vocabulary,NaN,OMOP generated,19700101,20991231,NaN
1527991,33091,IQVIA CO-CONNECT,Metadata,Vocabulary,Vocabulary,NaN,OMOP generated,19700101,20991231,NaN
1527992,33092,IQVIA CO-CONNECT MIABIS,Metadata,Vocabulary,Vocabulary,NaN,OMOP generated,19700101,20991231,NaN
1527993,33093,IQVIA CO-CONNECT TWINS,Metadata,Vocabulary,Vocabulary,NaN,OMOP generated,19700101,20991231,NaN

In [8]:
# Retrieve SNOMED concepts

snomed_df = concept_df[concept_df["vocabulary_id"] == "SNOMED"][["concept_id", "concept_name", "concept_code", "concept_class_id"]]
snomed_df = snomed_df.rename(columns={"concept_id":"snomed_concept_id", "concept_name":"snomed_term", "concept_code":"snomed_code", "concept_class_id":"snomed_class_id"})
snomed_df

,snomed_concept_id,snomed_term,snomed_code,snomed_class_id
471109,4000935,BITTER-3,100000000,Pharma/Biol Product
471110,3627602,SIGVARIS 200 medium/plus/17348 class 2(23-32mm...,10000001000001107,Physical Object
471111,4001098,Radiating chest pain,10000006,Clinical Finding
471112,37392117,Urine tryptophan:creatinine ratio,1000001000000103,Observable Entity
471113,3587688,Gelcosal 5% gel 50g,1000001000001104,Context-dependent
...,...,...,...,...
1526039,3557028,Ex-smoker annual review - enhanced services ad...,510551000000109,Undefined
1526040,3557029,Non-smoker annual review - enhanced services a...,510561000000107,Undefined
1526041,3557030,Current smoker annual review - enhanced servic...,510571000000100,Undefined
1526042,3557031,Current smoker annual review - enhanced servic...,510581000000103,Undefined
1526043,3557145,Current smoker annual review,517271000000101,Procedure

In [9]:
# Retrieve LOINC concepts

loinc_df = concept_df[concept_df["vocabulary_id"] == "LOINC"][["concept_id", "concept_name", "concept_code", "concept_class_id"]]
loinc_df = loinc_df.rename(columns={"concept_id":"loinc_concept_id", "concept_name":"loinc_term", "concept_code":"loinc_code", "concept_class_id":"loinc_class_id"})
loinc_df

,loinc_concept_id,loinc_term,loinc_code,loinc_class_id
1800,1988470,Specimen care is maintained,100002-5,Survey
1801,1988199,Team communication is maintained throughout care,100003-3,Survey
1802,1989543,Demonstrates knowledge of the expected psychos...,100004-1,Survey
1803,1988711,Demonstrates knowledge of nutritional manageme...,100005-8,Survey
1804,1988636,Demonstrates knowledge of medication management,100006-6,Survey
...,...,...,...,...
266871,45876059,Urinalysis,UA,LOINC Class
266872,45875991,Urological ultrasound,US.URO,LOINC Class
266873,45875992,Vaccinations,VACCIN,LOINC Class
266874,45875993,Volume (specimen),VOLUME,LOINC Class
266875,45875994,Volume (specimen) molecular,VOLUME.MOLEC,LOINC Class

In [10]:
# Link SNOMED and loincs

snomed_loinc_link = concept_relationship_df[["concept_id_1", "concept_id_2"]].rename(columns={"concept_id_1":"loinc_concept_id", "concept_id_2":"snomed_concept_id"})
final_df = snomed_loinc_link.merge(loinc_df, on="loinc_concept_id", how="inner")
final_df = final_df.merge(snomed_df, on="snomed_concept_id", how="inner").drop(columns=["loinc_concept_id", "snomed_concept_id"])
final_df

,loinc_term,loinc_code,loinc_class_id,snomed_term,snomed_code,snomed_class_id
0,Streptococcus pneumoniae Danish serotype 12F I...,85978-5,Lab Test,Measurement of Streptococcus pneumoniae Danish...,122104008,Procedure
1,Streptococcus pneumoniae Danish serotype 12F A...,85971-0,Lab Test,Measurement of Streptococcus pneumoniae Danish...,122104008,Procedure
2,Streptococcus pneumoniae Danish serotype 12F A...,85972-8,Lab Test,Measurement of Streptococcus pneumoniae Danish...,122104008,Procedure
3,Streptococcus pneumoniae Danish serotype 12F A...,85973-6,Lab Test,Measurement of Streptococcus pneumoniae Danish...,122104008,Procedure
4,Streptococcus pneumoniae Danish serotype 12F I...,85979-3,Lab Test,Measurement of Streptococcus pneumoniae Danish...,122104008,Procedure
...,...,...,...,...,...,...
18094,Fibroblast growth factor 23 [Units/volume] in ...,46699-5,Lab Test,Fibroblast growth factor 23 measurement,788831000000101,Procedure
18095,Adenosine deaminase binding protein [Units/vol...,47996-4,Lab Test,Adenosine deaminase binding protein measurement,104470002,Procedure
18096,Decenedioate [Moles/volume] in Serum or Plasma,79509-6,Lab Test,Decenediate measurement,121766001,Procedure
18097,Azelate [Moles/volume] in Serum or Plasma,79495-8,Lab Test,Azelate measurement,121739001,Procedure
18098,Cefuroxime [Mass/volume] in Serum or Plasma,80608-3,Lab Test,Cefuroxime measurement,105114001,Procedure

In [12]:
final_df.to_csv(SAVE_DIR)